.book-list {
  display: flex;
}

.book-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
}

.book-category {
  margin-bottom: 5px;
}

.buy-btn {
  justify-content: center;
}
