.product-item {
  //width: 170px;
  padding: 10px;
  margin-bottom: 2px;
  border: 2px solid black;
}

.product-item-input {
  width: 40px;
  margin-right: 5px;
  text-align: center;
}

.amount-container {
  display: flex;
}

.change-amount-btn-container {
  display: flex;
  flex-direction: column;
}

.change-amount-btn {
  width: 16px;
  height: 16px;
  padding: 0;
  justify-content: center;
  margin-bottom: 1px;
  margin-right: 5px;
}
